<div class="form-width flex flex-col gap-6">

    <div class="flex flex-col gap-2 items-center">
        <h2 class="text-2xl">
            <i class="fad fa-user-cog"></i>
            User Info
        </h2>
        <div class="w-full flex flex-row flex-wrap">
            <label class="flex-none w-full pb-1 text-left">Display Name</label>
            <small class="flex-none w-full text-left mb-1"><i class="fa fa-eye"></i> Visible to other players.</small>
            <div class="font-mono bg-dark1 flex-grow text-left p-2 pl-2 rounded-l-lg"><%= current_account.display_name %></div>
            <a class="rounded-r-lg bg-blue-dark hover:bg-blue p-2" href="<%= %>"><i class="fad fa-pencil px-1 align-text-top"></i> Edit</a>
        </div>
        <div class="w-full flex flex-row flex-wrap">
            <label class="flex-none w-full pb-1 text-left">Email</label>
            <small class="flex-none w-full text-left mb-1"><i class="fa fa-eye-slash"></i> Not visible to other players.</small>
            <div class="font-mono bg-dark1 flex-grow text-left p-2 pl-2 rounded-l-lg"><%= current_account.email %></div>
            <a class="rounded-r-lg bg-blue-dark hover:bg-blue p-2" href="<%= rodauth.change_login_path %>"><i class="fad fa-pencil px-1 align-text-top"></i> Edit</a>
        </div>
    </div>

    <div class="flex flex-col gap-2 text-center items-center">
        <h2 class="text-2xl">
            <i class="fad fa-user-lock"></i>
            Security
        </h2>
        <a class="rounded-lg bg-blue-dark hover:bg-blue p-2 w-full" href="<%= rodauth.change_password_path %>">Change Password</a>
        <a class="rounded-lg bg-red-dark hover:bg-red p-2 w-full" href="<%= rodauth.close_account_path %>">Close Account</a>
    </div>

    <div class="flex flex-col gap-2 text-center items-center">
        <h2 class="text-2xl">
            <i class="fad fa-user-shield"></i>
            Privacy
        </h2>
        <a class="rounded-lg bg-blue-dark hover:bg-blue p-2 w-full" href="">TODO: Export Data</a>
        <a class="rounded-lg bg-orange-dark hover:bg-orange p-2 w-full" href="">TODO: Delete Data</a>
    </div>
</div>
