<!DOCTYPE html>
<html>
  <head>
    <title>(Alpha) Automata Games <%= ": #{@page_title}" if @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "main" %>
    <% if @inertia_app %>
      <%= vite_javascript_tag @inertia_app %>
    <% end %>

  </head>

  <body class="bg-bgmain text-fgmain flex flex-col">
    <%= render "shared/header" %>

    <div class="grow grid grid-cols-1 grid-flow-dense">
      <%= yield %>

      <% if notice %>
        <div id="flash-success" class="text-center mt-2 alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div id="flash-danger" class="text-center mt-2 alert alert-danger"><%= alert %></div>
      <% end %>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
