<div class="form-width">
    <h1 class="text-center mb-2">Change Display Name</h1>
    <%= form_with url: change_display_name_path, method: :post, data: { turbo: false } do |form| %>
        <div class="grid grid-cols-1 gap-2">

            <div class="grid grid-cols-1 gap-2">
                <%= form.label "display_name", "Display Name", class: "form-label" %>
                <%= form.text_field "display_name", placeholder: "Your public display name", value: current_account.display_name, id: "display_name", required: true, class: "form-field-text" %>
                <%= content_tag(:span, rodauth.field_error("display_name"), class: "invalid-feedback", id: "display_name_error_message") if rodauth.field_error("display_name") %>
                <p class="text-sm"><i class="fa fa-eye"></i> Your display name is visible to other players.</p>
            </div>

            <div class="grid grid-cols-1 gap-2">
                <%= form.label "password", "Current #{rodauth.password_label}", class: "form-label" %>
                <%= form.password_field rodauth.password_param, placeholder: "current password", value: "", id: "password", required: true, class: "form-field-text #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
                <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
                <p class="text-sm">For security, your password is required to change your display name.</p>
            </div>

            <%= form.submit "Save", class: "btn btn-primary w-full mt-4" %>
        </div>
    <% end %>
</div>